<ol>
	<li>
		Clique em "Matricule-se"
	</li>
	<li>
		Faça seu cadastro <strong>gratuitamente</strong>
	</li>
	<li>
		Efetue o pagamento
	</li>
	<li>
		Parabéns! Após a confirmação do pagamento você terá <strong>acesso ao curso</strong> automaticamente.
	</li>	
</ol>
	