<footer>
	<div class="container">
		<div class="row-fluid copyright">
            <div class="span2 pull-right">
                <p>2013 - Edools</p>
            </div>
        </div>
	</div>
</footer>