<%= widget_div do %>

<div class="well well_gray">
	<div class="row-fluid">
		<div class="span12">
      <h4><%= @title %></h4>
			<h3><strong><%= @phone %></strong></h3>
			<h4><%= mail_to @email %></h4>
    </div>
	</div>
</div>

<% end %>