<p>Depois de efetuar a matrícula você terá acesso ao ambiente do curso onde <strong>todo o conteúdo estará disponível</strong>.</p>
<p>Você poderá assistir quando e quantas vezes desejar desde que haja uma conexão de internet banda larga.</p>
