<div class="modal-body">
	<div style="padding: 0 20px;">
  	<h1 class="pagination-centered"><i class="icon-ok"></i> <br> Cupom enviado!</h1>
  	<hr>
  	<h3>Prossiga a compra através do email que enviamos para <strong><%= @lead.email %><strong>.</h3>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Fechar</button>
</div>
