<div id="advancedSearch" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="myModalLabel"><i class="icon-search"></i> Busca Avançada</h2>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Exemplo de busca</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Carlos da Silva</td>
              <td>Alunos com o nome Carlos da Silva</td>
            </tr>
            <tr>
              <td>TAG=Curso1 OR TAG=Curso2</td>
              <td>Alunos que possuem as tags Curso1 ou Curso2.</td>
            </tr>
            <tr>
              <td>TAG=Curso1 AND TAG=Curso2</td>
              <td>Alunos que possuem as tags Curso1 e Curso2 simultaneamente.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
      </div>
    </div>
  </div>
</div>