<h1><%= t('wizard.school.title') %>:</h1>
<br>
<!-- <div class="row-fluid wizard_counter pagination-centered">
	<div class="span3"></div>
	<div class="span1 step <%#= active[:basic_info].to_s %>">
		<span class="step_num"><%#= t('wizard.school.s1.n') %></span>
		<span class="step_title"><%#= t('wizard.school.s1.title') %></span>
	</div>
	<div class="span3"> <hr /> </div>
	<div class="span1 step <%#= active[:choose_plans].to_s %>">
		<span class="step_num"><%#= t('wizard.school.s2.n') %></span>
		<span class="step_title"><%#= t('wizard.school.s2.title') %></span>
	</div>
</div>

 -->