<div class="row-fluid sortable">	
<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon align-justify"></i><span class="break"></span>Alunos</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped">
							  <thead>
								  <tr>
									  <th>Nome</th>
									  <th>Data de compra</th>
									  <th>Email</th>
									  <th>Status</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
								<tr>
									<td>Vinicius Bairros</td>
									<td class="center">14/02/2013</td>
									<td class="center">vbairros@gmail.com</td>
									<td class="center">
										<span class="label label-success">Confirmado</span>
									</td>                                       
								</tr>
								<tr>
									<td>Lucas Vgr</td>
									<td class="center">08/02/2013</td>
									<td class="center">lucasvgr@gmail.com</td>
									<td class="center">
										<span class="label label-success">Confirmado</span>
									</td>                                       
								</tr>
								<tr>
									<td>Roberto Dourado</td>
									<td class="center">13/02/2013</td>
									<td class="center">rmdourado@gmail.com</td>
									<td class="center">
										<span class="label label-warning">Pendente</span>
									</td>                                        
								</tr>
								<tr>
									<td>Fernando Alves</td>
									<td class="center">06/03/2013</td>
									<td class="center">fernandoalves@quarteldigital.com.br</td>
									<td class="center">
										<span class="label label-success">Confirmado</span>
									</td>                                       
								</tr>
								<tr>
									<td>Luciana de Lima</td>
									<td class="center">18/02/2013</td>
									<td class="center">lucianadelima.alirj@gmail.com</td>
									<td class="center">
										<span class="label label-warning">Pendente</span>
									</td>                                        
								</tr>                                   
							  </tbody>
						 </table>  
						 <div class="pagination pagination-centered">
						  <ul>
							<li><a href="#">Anterior</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Próxima</a></li>
						  </ul>
						</div>     
					</div>
				</div><!--/span-->
				</div>
				
				<hr>
				
	<div class="row-fluid">				
				<div class="span11 noMarginLeft">

									<div class="message dark">

										<div class="header">
										
											<div class="from"><i class="halflings-icon user"></i> <b>Vinicius Bairros</b> / vbairros@gmail.com</div>
											<div class="date"><i class="halflings-icon time"></i> Hoje, <b>3:47 PM</b></div>

											<div class="menu"></div>

										</div>

										<div class="content">
											<p>
												Participou de uma palestra gratuita e depois entrou em contato para saber mais sobre o curso. Fez a matrícula em seguida. <br />É um empreendedor bastante disciplinado e com bom potencial. 
											</p>
											
										
										</div>

										<div class="attachments">
											<ul>
												<li>
													<span class="label label-important">Canvas</span> <b>Atividade da aula 1</b> <i>(2,5MB)</i>
													<span class="quickMenu">
														<a href="#" class="glyphicons search"><i></i></a>
														<a href="#" class="glyphicons share"><i></i></a>
														<a href="#" class="glyphicons cloud-download"><i></i></a>
													</span>
												</li>
												<li>
													<span class="label label-info">txt</span> <b>links_sugeridos.txt</b> <i>(7KB)</i>
													<span class="quickMenu">
														<a href="#" class="glyphicons search"><i></i></a>
														<a href="#" class="glyphicons share"><i></i></a>
														<a href="#" class="glyphicons cloud-download"><i></i></a>
													</span>
												</li>
												<li>
													<span class="label label-success">xls</span> <b>controle_financeiro.xls</b> <i>(984KB)</i>
													<span class="quickMenu">
														<a href="#" class="glyphicons search"><i></i></a>
														<a href="#" class="glyphicons share"><i></i></a>
														<a href="#" class="glyphicons cloud-download"><i></i></a>
													</span>
												</li>
											</ul>		
										</div>

										<form class="replyForm"method="post" action="">

											<fieldset>
												<textarea tabindex="3" class="input-xlarge span12" id="message" name="body" rows="12" placeholder="Escreva uma mensagem para o aluno aqui"></textarea>

												<div class="actions">

													<button tabindex="3" type="submit" class="btn btn-success">Enviar mensagem</button>

												</div>

											</fieldset>

										</form>	

									</div>	

								</div>

							</div>
</div>