<div class="row-fluid">

<div class="box span5" onTablet="span6" onDesktop="span5">
					<div class="box-header">
						<h2><i class="halflings-icon comment"></i><span class="break"></span>Movimento nas redes sociais</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<ul class="chat">
							<li class="left">
								<%= image_tag "admin/avatar.jpg", :class=>"avatar" %>
								<span class="message"><span class="arrow"></span>
									<span class="from">José Augusto</span>
									<span class="time">- Há 30 minutos</span>
									<span class="text">
										Comprei e recomendo o curso de Lean Startup! #FicaDica
									</span>
								</span>	                                  
							</li>
							<li class="right">
								<%= image_tag "admin/avatar2.jpg", :class=>"avatar" %>
								<span class="message"><span class="arrow"></span>
									<span class="from">Vanessa SP</span>
									<span class="time">- Há 23 minutos</span>
									<span class="text">
										Como faço para pagar com débito online? Preciso de ajuda!
									</span>
								</span>                                  
							</li>
							<li class="left">
								<%= image_tag "admin/avatar3.jpg", :class=>"avatar" %>
								<span class="message"><span class="arrow"></span>
									<span class="from">Maria Augusta</span>
									<span class="time">- Há 10 minutos</span>
									<span class="text">
										Estou com medo de não conseguir ter tempo para estudar. O curso tem prazo para acabar?
									</span>
								</span>	                                  
							</li>
							<li class="right">
								<%= image_tag "admin/avatar8.jpg", :class=>"avatar" %>
								<span class="message"><span class="arrow"></span>
									<span class="from">Jonas</span>
									<span class="time">- Há 3 minutos</span>
									<span class="text">
										Gostei muito!! Quando fará o próximo?
									</span>
								</span>	                                  
							</li>
						</ul>
					</div>
				</div><!--/span-->
				
				
				
				
				<div class="box span7" onTablet="span6" onDesktop="span7">
									<div class="box-header">
										<h2><i class="halflings-icon comment"></i><span class="break"></span>Publicar nas redes sociais</h2>
										<div class="box-icon">
											<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
											<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
										</div>
									</div>
									<div class="box-content">
										<div class="chat-form">
											<textarea></textarea>
											<button class="btn btn-info">Publicar</button>
										</div>	
									</div>
								</div><!--/span-->
				
				
</div>



<div class="row-fluid">
				
				<div class="widget span6" onTablet="span6" onDesktop="span6">
					<h2><span class="glyphicons facebook"><i></i></span>Pessoas falando sobre seus cursos</h2>
					<hr>
					<div class="content">
						<div id="facebookChart" style="height:300px" ></div>
					</div>
				</div><!--/span-->
				
				<div class="widget span6" onTablet="span6" onDesktop="span6">
					<h2><span class="glyphicons twitter"><i></i></span>Seguidores no Twitter</h2>
					<hr>
					<div class="content">
						<div id="twitterChart" style="height:300px" ></div>
					</div>
				</div><!--/span-->
			
			</div>