<div class="box_widget_course">
	<div class="box">
		<div class="head">
			<h4>Início</h4>
		</div>
		<div class="content start_here">
			<div class="pagination-centered">
				<h2>Quatro passos para você planejar, criar, publicar e divulgar seu curso.</h2>
			</div>

			<br>

			<div class="tabbable"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">1 - Planeje seu curso</a></li>
			    <li><a href="#tab2" data-toggle="tab">2 - Crie o conteúdo do seu curso</a></li>
				<li><a href="#tab3" data-toggle="tab">3 - Publique seu curso</a></li>
				<li><a href="#tab4" data-toggle="tab">4 - Divulgue seu curso</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
      
					<p>Criar um curso no Edools é muito fácil, basta seguir esses passos para garantir que ele alcançará os melhores resultados.</p>

					<h3>Passo 1: Planejar o curso</h3>
					<p>Planejamento é o segredo para o aprendizado online. Com planejamento você economizará horas de produção e ainda conseguirá criar uma experiência de aprendizado muito melhor.</p>
					<p>Seu curso deve conter uma sequência de módulos e aulas que ajudarão os alunos alcançarem os objetivos do curso. Para ajudar seu planejamento, siga os seguintes passos:</p>	
		
			
					<div class="row-fluid">
						<div class="span2">
							<%= image_tag 'passo01-01.png', :class => 'thumbnail' %>
						</div>
						<div class="span7">
							<p><strong>Informações</strong></p>

							<ul>
								<li>Escreva o título e o sub-título do curso de forma bastante marqueteira.</li>
								<li>Defina seu público alvo, conteúdos e objetivos, descrição e tópicos abordados.</li>
							</ul>
						</div>
					</div>
			
					<div class="row-fluid">
						<div class="span2">
							<%= image_tag 'passo01-02.png', :class => 'thumbnail' %>
						</div>
						<div class="span7">
							<p><strong>Ementa e conteúdos</strong></p>
							<ul>
								<li>Crie uma ementa organizada por módulos, que devem ser compostos por aulas individuais. As aulas de um módulo devem aprensentar um conteúdo sequêncial, lógico e consistente.</li>
								<li>Tenha pelo menos 1 módulo e 5 aulas no seu curso, totalizando um mínimo de 1 hora de conteúdo (60% de conteúdo em vídeo).</li>
								<li>Utilize títulos descritivos para os múdulos e as aulas.</li>
								<li>Adicione atividades para reforçar o aprendizado (ex: questões, exercícios, projetos etc).</li>
								<li>Sempre inclua uma aula de introdução e uma de conclusão do curso.</li>
								<li>Adicione links para downloads de conteúdos e material extra.</li> 
							</ul>
						</div>
					</div>
			    </div>
			    <div class="tab-pane" id="tab2">
					<h5>Em breve</h5>
					<!-- <h5>Passo 2: Crie o conteúdo do seu curso</h5> -->
					<!-- <p>É neste passo que você irá trabalhar mais para criar o conteúdo para um novo curso ou modificar conteúdos existentes. Você precisará escolher a melhor forma para compartilhar seu conhecimento e poderá utilizar vídeo, áudio, apresentações, documentos e textos.</p>
					<p>Mas é importante atentar que recomendamos que seu curso tenha pelo menos 60% do conteúdo em vídeo e o restante diversificado entre os demais tipos de conteúdo. Também recomendamos incluir links e materiais extras para download e estudo complementar.</p>
					<p>Quando for produzir seu conteúdo em vídeo atente para:</p>
					<ul>
						<li><p><strong>Iluminação</strong> - mantenha o ambiente bem iluminado.</p></li>
						<li><p><strong>Áudio</strong> - use um microfone de qualidade e tenha certeza que seu áudio está sem ruídos e num volume agradável.</p>
						<li><p><strong>Vídeo</strong> - grave numa reso
							use high resolution 720p or HD (most modern smartphones and digital cameras can record in 720p or higher), have a clean background, good framing, make sure everything is legible, and aim for 5-20 minutes in length (will vary based on your content).</p>
						<li><p><strong>Type</strong> - keep files to a 1.0GiB file size limit, use .mp4, .mov, or .flv file format, and use widescreen 16:9 ratio even though 4:3 is accepted.</p>
					</ul>
			
					<p><strong>Promo Video</strong></p>

					<p>Start by recording a 1-min introductory or promotional video that introduces yourself, your qualifications, the goal of your course, how the course will be taught, and who will benefit by taking your course. Perfect the audio, video, lighting, and background now before you record the entirety of your course. It’ll save you a ton of time!</p>

					<hr>
			
					<p>Next, go ahead and create any new materials (Video, Audio, Presentation, Document, Text, Mashup) and don't forget a beautiful, high resolution, and suitable course Image (min. 480x270, recommended 960x540)</p>

					<p>Once you are done creating your content, go to Step 3 to publish your course on Udemy.</p> -->
				</div>
				<div class="tab-pane" id="tab3">
			      <h5>Em breve</h5>
			    </div>
				<div class="tab-pane" id="tab4">
			      <h5>Em breve</h5>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>