<p>Olá, <%= @resource.first_name %>!</p>

<p>Você requisitou a troca de senha. Para fazer isso, basta clicar no link abaixo:</p>

<% if @resource.try(:school).try(:use_custom_domain) %>
	<a href="<%= edit_password_url(@resource, host: @resource.try(:school).try(:domain), :reset_password_token => @resource.reset_password_token) %>"><strong>Alterar minha senha</strong></a>
<% else %>
	<a href="<%= edit_password_url(@resource, subdomain: @resource.try(:school).try(:subdomain), :reset_password_token => @resource.reset_password_token) %>"><strong>Alterar minha senha</strong></a>
<% end %>

<br>

<p>Sua senha não será alterada até que você crie uma nova.</p>
<p>Se você não fez esse pedido, ignore este e-mail.</p>