<noscript>
	<div class="alert alert-block span11">
		<h4 class="alert-heading">Aviso!</h4>
		<p>Você precisa <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> habilitar o uso de javascript para utilizar este site.</p>
	</div>
</noscript>